body{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 400px;
    margin: 60px;
    padding: 20px;
    text-align: center;
    /* background-color: #b9daee; */
    /* border-radius: 10%; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}
h1{
    text-align: center;
    color: rgb(17, 99, 146);
}
input{
    font-size: 15px;
    padding: 5px;
   
}
button{
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    border-style: none;
}
button:hover{
    background-color: rgb(185, 248, 248);
    
}
